h1{
	text-align: center;
}
#svgslika{
	background-image: url("belamajca.png");
	height: 50em;
	width: 45em;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: auto auto;
	border-radius: 5px;
	box-shadow: 0px 0px 20px 2px  #b3b3ff;
	background-color: #ffffff;
	
}
#svg{
	padding-top: 10em;
	margin-left: 7em;
}
#bez{
	padding-top: 8em;
	
}
#bezslika{
	background-image: url("belamajca.png");
	height: 50em;
	width: 45em;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: auto auto;
	border-radius: 5px;
	box-shadow: 0px 0px 20px 2px #99bbff;
	background-color: #ffffff;
	
}
#orislika{
	background-image: url("belamajca.png");
	height: 25em;
	width: 23em;
	margin: auto auto;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 5px;
	box-shadow: 0px 0px 20px 2px #b3cccc;
	background-color: #ffffff;
}
#ori{
	margin-left: 1em;
	padding-top: 5em;
}
body{
	background-color: #3333ff;
}
